<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
<h1 th:text="'Detalles del empleado ' + ${empleado.nombre} + ' ' + ${empleado.apellidos}"></h1>
<p>Telefonos:</p>
<ul>
<li th:each="telefono : ${telefonos}" th:text="${telefono}"></li>
<p>Correos</p>
<ul>
<li th:each="correo : ${correos}" th:text="${correos}"></li>
</ul>
</ul>
</body>
</html>
